.app__chef{
    flex-direction: row;
    width: 100%;
    column-gap: 4rem;
    height: 100%;
}

.app__chef-img{
    padding: 3rem;
}

.app__chef-img img{
    width: 400px;
    height: 500px;
}

.app__chef-content{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.app__chef-content-paragraph{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 4rem;
}

.app__chef-content-paragraph p{
    font-style: italic;
}

.app__chef-content_first{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: row;
}

.app__chef-content_first img{
    width: 30px;
    height: 30px;
}

.app__chef-content_first p{
    font-style:italic;  
    padding-top: 1rem;
    width: 100%;
}

.app__chef-content_title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 4rem;
}

.app__chef-content-name{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    margin-bottom: 4rem;
}

.app__chef-content-sign{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.app__chef-content-sign img{
    width: 300px;
    height: 120px;
}

#chef__name{
    font-weight: lighter;
    font-size: 45px;
}

#chef__title p{
    color: var(--color-grey);
    margin-left: 1rem;
}

#chef__founder{
    color: var(--color-grey);
}

#chef__word{
    font-weight: lighter;
    color: white;
    margin-bottom: 1rem;
}

.app__chef-content-paragraph p{
    color: var(--color-grey);
}

@media screen and (max-width:1025px){

    .app__chef{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 2rem;
    }

    .app__chef-img{
        display: flex;
        order: 2;
    }

    .app__chef-img img{
        width: 400px;
        height: 500px;
    }
}

@media screen and (max-width: 769px){
    .app__chef-content-sign img{
        width: 200px;
        height: 100px;
    }
}

@media screen and (max-width:426px){
    .app__chef-img img{
        height: 300px;
        width: 250px;
    }

    .app__chef-content-sign img{
            width: 150px;
            height: 80px;
    }

    .headtext__cormorant{
        font-size: 40px !important;
    }

    .p__opensans{
        font-size: 10px !important;
    }

    .app__chef-content_first img{
        width: 20px;
        height: 20px;
    }

    .app__chef-content_first p{
        margin-left: 0.3rem !important;
    }

    .app__chef-content_title,
    .app__chef-content-paragraph,
    .app__chef-content-name
    {
        margin-bottom: 2.5rem;
    }
}

@media screen and (max-width:376px){
    .headtext__cormorant{
        font-size: 30px !important;
    }

    .app__chef-content_first{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media screen and (max-width:321px){
    .app__chef-img img{
        width: 210px;
        height: 250px;
    }
}